<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Upload for Prediction</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>
    <div class="container">
        <h1>Upload an Image for Prediction</h1>
        <form action="/upload" method="post" enctype="multipart/form-data">
            <label for="file-upload" class="custom-file-upload">
                Choose Image
            </label>
            <input id="file-upload" type="file" name="file" accept="image/*" required>
            <input type="submit" value="Upload" class="upload-btn">
        </form>
    </div>
</body>
</html>
